@import 'colors';
@import 'header';
@import 'home';
@import 'collection';
@import 'order';
@import 'contact';
@import 'divider';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: inherit;
  font-family: 'Alex Brush', cursive !important;
}

::selection {
  background: $very-transparent-pink; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $very-transparent-pink; /* Gecko Browsers */
}
