.order {
  .divider.centered {
    font-family: 'Tangerine', cursive;
    font-size: 2em;
    letter-spacing: 1px;
    transform: none;
    &.disclaimer {
      font-size: 1.5em;
    }
  }
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  font-family: inherit;
  line-height: inherit;
  font-size: 1.6em;
  padding: 0.11em 0.9em 0.21em 0.9em
}

.ui.selection.dropdown {
  min-height: 2.2em;
  font-family: inherit;
  padding: 0.6em 2.6em 0.5em 1em;
}

#payment-container {
  margin: 0 auto;
  font-size: 10rem;
  padding-bottom: 3em;
  padding-left: 12vw;
  padding-right: 12vw;
  font-family: 'Tangerine', cursive;
  letter-spacing: 1px;

  .order-details {
    margin: 2vw;
    text-align: center;
  }

  .ui.form {
    font-size: 1.6rem;

    .menu > .item {
      font-size: 1.6rem;
    }

    .field label {
      font-size: 1.8rem;
    }

    .last-row {
      position: relative;

      .ui.checkbox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        ::before,
        ::after {
          height: 22px;
          width: 22px;
          top: 50%;
          transform: translateY(-50%);
          line-height: 22px;
        }

        label {
          padding-left: 1.5em;
        }
      }

      .ui.submit.button {
        font-family: 'Alex Brush', cursive !important;
        font-size: 1.5rem;
        padding: 0.9rem 1.1rem;
        float: right;
      }
    }
  }
}
